.footer {
  background-color: #344b8e;
  font-size: 18px;
}
.footer__list-holder {
  padding-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.footer__list-item {
  margin-bottom: 20px;
  margin-right: 20px;
}
.footer__link {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  &:hover {
    color: #30bae7;
  }
}
@media (min-width: $md) {
  .footer__list-holder {
    padding-top: 30px;
  }
  .footer__list-item {
    margin-bottom: 30px;
  }
}
@media (min-width: $lg) {
  .footer__list-holder {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 940px;
  }
  .footer__list-item {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .footer__link {
    letter-spacing: 1.1px;
    line-height: 30px;
    font-weight: 600;
  }
}