.get-in-touch {
  background-color: #3c5499;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  margin: 0 auto;
}
.get-in-touch__title {
  padding-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
.get-in-touch__subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.get-in-touch__input-holder {
  display: flex;
  margin-bottom: 40px;
  max-width: 860px;
  margin: 0 auto;
}
.get-in-touch__input {
  background-color: #273a71;
  border-radius: 5px;
  border: none;
  line-height: 52px;
  padding-left: 25px;
  margin-bottom: 27px;
  width: 100%;
}
.get-in-touch__input--100 {
  padding-top: 20px;
  height: 200px;
  width: 100%;
  line-height: 26px;
}
.get-in-touch__button {
  margin: 0 auto;
  background-color: #30bae7;
  padding: 22px 82px;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 600;
  border:none;
  border-radius: 5px;
  box-shadow: 0 -3px #299ec5 inset;
  &:hover {
    background-color: #299ec5;
  }
}
.get-in-touch__input-placeholder {
position: relative;
}
.get-in-touch__input-placeholder 
.get-in-touch__input:valid + 
.get-in-touch__placeholder {
  display: none;
}
.get-in-touch__placeholder {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
}
.get-in-touch__placeholder--bottom {
  padding-top: 5px;
}
.get-in-touch__placeholder--span {
  color: red;
}
@media (min-width: $md) {

  .get-in-touch {
    padding-top: 118px;
    padding-bottom: 117px;
  }
  .get-in-touch__title {
    margin-left: 5px;
    padding-bottom: 43px;
    font-size: 37px;
    letter-spacing: 5.6px;
  }
  .get-in-touch__subtitle {
    font-size: 20px;
    letter-spacing: -0.05px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 75px;
  }
  .get-in-touch__input-holder {
    justify-content: space-between;
    margin-bottom: 59px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .get-in-touch__input {
    background-color: #273a71;
    border-radius: 5px;
    border: none;
    line-height: 52px;
    padding-left: 25px;
    margin-bottom: 27px;
    font-size: 20px;
    width: 96.5%;
  }
  .get-in-touch__input--right {
    margin-right: 16px;
  }
  .get-in-touch__input--left {
    margin-left: 16px;
  }
  .get-in-touch__input--100 {
    padding-top: 20px;
    height: 200px;
    width: 100%;
    line-height: 26px;
    resize: none;
  }
   .get-in-touch__placeholder {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 25px;
    letter-spacing: 1px;
  }
  .get-in-touch__placeholder--bottom {
    padding-top: 5px;
  }
  .get-in-touch__placeholder--left {
    left: 40px;
  }
  .get-in-touch__placeholder--span {
    color: red;
  }
  .get-in-touch__input-wrapper {
    margin-bottom: 30px;
  }
  
}