.greegreeting {
  position: relative;
  background-color: #87509c;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.greegreeting--centr {
  margin-bottom: auto;
}
.greegreeting__logo-holder {
  order: 1;
}
.greegreeting__text {
  margin-top: 50px;
  font-size: 22px;
  color: #f7f3ea;
  font-weight: 600;
  text-align: center;
  margin-bottom: 90px;
}
.greegreeting__button {
  margin: 0 auto;
  background-color: #eb7d4b;
  padding: 20px 50px;
  color: #ffffff;
  font-weight: 600;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1.7px;
  line-height: 26px;

}
  @media (min-width: $md) {
    .greegreeting {
      padding-top: 20px;
      padding-bottom: 100px;
    }
    .greegreeting__text {
      font-size: 30px;
      margin-bottom: 52px;
    }
    .greegreeting__button {
      margin: 0 auto;
      background-color: #eb7d4b;
      padding: 23px 80px;
      font-size: 16px;
      box-shadow: 0 -3px #c86a40 inset;
      &:hover {
        background-color: #c86a40;
      }
    }
  }
  @media (min-width: $lg) {
  .greegreeting {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 57px;
    height: 100vh;
    padding-bottom: 145px;
  }
  .greegreeting__logo-holder {
    margin-left: 44px;
    margin-top: -1px;
    margin-bottom: 6px;
    order: 1;
  }
  .greegreeting__text {
    letter-spacing: -0.4px;
    margin-left: -13px;
    max-width: 910px;
    font-size: 43px;
    line-height: 49px;
    margin-bottom: 55px;
    margin-top: 123px;///
    font-weight: 700;
  }
  .greegreeting__space {
    width: auto;
    display: block;
  }
  .greegreeting__button {
    margin: 0 auto;
    background-color: #eb7d4b;
    padding: 22px 80px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.7px;
    line-height: 26px;
  }
}