////--------------
h4,
p {
	margin: 0;
	padding: 0;
}
li,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 0;
}
//---------------
#wrapper {
	overflow: hidden;
}
.container {
	font-family: "Titillium Web";
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	@media (min-width: $md) {
		padding: 0 100px;
	}
	@media (min-width: $lg) {
		padding: 0 155px;
	}
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.center {
	display: flex;
	justify-content: center;
	text-align: center;
}
a {
	cursor: pointer;
}
h2 {
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 48px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 20px;
	font-family: "Titillium Web";
	font-weight: 700;
	@media (min-width: $md) {
		font-size: 30px;
		letter-spacing: 3px;
		line-height: 40px;
	}
	@media (min-width: $lg) {
		font-size: 40px;
		letter-spacing: 4px;
		line-height: 30px;
		&:after {			
			position: absolute;
			content: "";
			border-bottom: 3px solid;
			width: 87px;
			transform: translateY(50px);
		}
	}
}
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}
//////
.nav__swith {
  opacity: 0;
}
.nav__swith:checked ~ .nav__btn > span {
  transform: rotate(45deg);
}
.nav__swith:checked ~ .nav__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.nav__swith:checked ~ .nav__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.nav__swith:checked ~ .nav__box {
  visibility: visible;
  right: 0;
}
.nav {
	margin-bottom: auto;
}
.nav__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 15;
}
.nav__btn > span,
.nav__btn > span::before,
.nav__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition-duration: .3s;
}
.nav__btn > span::before {
  content: '';
  top: -8px;
}
.nav__btn > span::after {
  content: '';
  top: 8px;
}
.nav__box {
	order: 2;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:#ab68c5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .3s;
	z-index: 10;
}
.nav__item {
  display: block;
	padding: 6px 15px;
	border-radius: 3px;
	margin-right: 9px;
  color: #fff; 
}
.nav__item:hover {
  background-color: #643a79;
}
.hamburger-menu {
	//margin-top: -50px;
}
@media (min-width: $lg) {
	.hamburger-menu {
		display: flex;
		margin-right:71px;
		margin-top: 1px;
	}
	.nav__btn {
		visibility: hidden;
	}
	.nav {
		flex-direction: column;
	}
	.nav__item {
		padding-right: 20px;
	}
	.nav__item:hover {
		background-color: #643a79;
	}
	.nav__box {
		max-width: 400px;
		width: 100%;
		margin-left: auto !important;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		visibility: visible;
		position: static;
		right: 0;
		height: 0%;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: #87509c;
		box-shadow: none;
		transition-duration: .3s;
		z-index: 10;
	}
}
