.people-say {
  background-color: #d74680;
  padding-top: 50px;  
  color: #fff;
}
.people-say__title {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.people-say__subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 65px;
}
.people-say__img-holder {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.people-say__img {
  width: 50%;
  max-width: 150px;
}

@media (min-width: 480px) {
  .people-say__text-holder {
    padding: 0;
  }
}
.people-say__comment {
  font-size: 21px;
  font-style: italic;
  padding-bottom: 20px;
  text-align: center;
}
.people-say__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  
}
.people-say__position {
  font-size: 16px;
  color: #ffdd99;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: $md) {
  .people-say {
    padding-top: 80px;
  }
  .people-say__title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .people-say__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .people-say__comment {
    font-size: 21px;
    font-style: italic;
    padding-bottom: 21px;
  }
  .people-say__name {
    font-size: 24px;
    text-transform: uppercase;
  }
  .people-say__position {
    font-size: 18px;
  }
}
@media (min-width: $lg) {
  .people-say {
    padding-top: 119px;
  }
  .people-say__title {
    padding-left: 6px;
    letter-spacing: 4.6px;
    font-size: 39px;
    padding-bottom: 43px;
    &:after {
      color: #b73c6d;
    }
  }
  .people-say__img {
    width: 96px;
    height: 96px;
  }
  .people-say__subtitle {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: 4px;
    line-height: 26px;
    margin-bottom: 65px;
  }
  .people-say__content-holder {
    display: flex;
    padding-right: 30px;
  }
  .people-say__img-holder {
    padding-right: 48px;
    padding-left: 15px;
    padding-bottom: 215px;
  }
  .people-say__comment {
    padding-top: 5px;
    font-size: 21px;
    letter-spacing: 0.35px;
    line-height: 31px;
    font-style: italic;
    padding-bottom: 21px;
    text-align: left;
  }
  .people-say__name {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 1px;
    text-transform: uppercase;
    padding-left: 3px;
    text-align: left;
    
  }
  .people-say__position {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-left: 3px;
    line-height: 26px;
    color: #ffdd99;
    text-align: left;
  }
  .people-say__img-holder--riht {
    margin-left: 22px;
  }
  .people-say__img-holder--cuted {
    padding-bottom: 200px;
  }
  .people-say__comment--right {
    letter-spacing: -0.4px;
  }
}
