.portfolio {
  background-color: #ffdd99;
  color: #393939;
  padding-top: 50px;
  padding-bottom: 30px;
}
.portfolio__title {
  padding-bottom: 25px;
}
.portfolio__subtitle {
  margin: 0 auto;
  max-width: 520px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.portfolio__button-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.portfolio__button {
  border-radius: 5px;
  font-size: 16px;
  color: #393939;
  font-weight: 600;
  border: none;
  background-color: #ebc985;
  padding: 10px 0;
  width: 60px;
  text-align: center;
  &:hover {
    background-color:#fff;
  }
}
@media (min-width: 480px) {
  .portfolio__button {
    width: 20%;
  }
}
.portfolio__img-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  padding: 0 5px;
}
.portfolio__wrapper-content {
  width: 100%;

}
// .portfolio__note-content {
//   position: absolute;
//   z-index: 3;
//   width: 250px;
//   height: 150px;
//   top: 10%;
//   left: 20%;
// }
.portfolio__desc {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;
}
.portfolio__bottom-button {
  margin: 0 auto;
  margin-top: 13px;
  background-color: #17c2a4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 -3px #14a58c inset;
  &:hover {
    background-color: #14a58c;
  }
}

@media (min-width: $md) {
  .portfolio {
    padding-bottom: 30px;
  }
  .portfolio__title {
    padding-bottom: 25px;
  }
  .portfolio__button-holder {
    justify-content: center;
  }
  .portfolio__button {
    width: auto;
    &:first-child {
      min-width: 84px;
    }
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    font-weight: 700;
    border: none;
    background-color: #ebc985;
    &:hover {
      background-color:#fff;
    }
  }
  .portfolio__button {
    padding: 10px 22px;
    margin: 0 5.5px 62px 5.5px;
  }
  .portfolio__img-container {
    margin-bottom: 27px;
  }
  .portfolio__desc {
    margin-bottom: 64px;
    font-size: 18px;
  }
  .portfolio__bottom-button {
    margin-top: 13px;
    padding: 15px 40px;
    font-size: 18px;
  }
}
@media (min-width: $lg) { 
  .portfolio {
    padding-top: 120px;  
    padding-bottom: 109px;
  }
  .portfolio__title {
    margin-bottom: 16px;
  }
  .portfolio__subtitle {
    margin-bottom: 39px;
    letter-spacing: 0.38px;
  }
  .portfolio__button-holder{
    margin-bottom: 0px;
  }
  .portfolio__button {
    font-size: 18px;
    padding: 10px 22px;
    margin: 0 5.5px 62px 5.5px;
  }
  .portfolio__img-container {
    margin-bottom: 30px;
  }

  .portfolio__desc {
    margin-top: -11px;
    margin-bottom: 64px;
    font-size: 18px;
  }
  .portfolio__bottom-button {
    margin-top: 13px;
    padding: 25px 56px;
    font-size: 18px;
  }
}

