.services-provide {
  background-color: #17C2A4;
  color: #FFF;
  padding-top: 50px;
}
.services-provide__subtitle {
  padding-bottom: 40px;
  max-width: 610px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
}
.services-provide__content-holder {
  padding: 0 20px;
  &>h4 {
    padding-bottom: 15px;
    font-size: 21px;
    letter-spacing: 2.5px;
    font-weight: 700;
  }
  &:last-child {
    padding-bottom: 48px;
    font-size: 16px;
    letter-spacing: 0px;
    
    font-weight: 300;
    text-align: center;
  }
}
.services-provide__img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  img {
    height: 124px;
  }
}
@media (min-width: $md) {
  .services-provide {
  padding-top: 80px;
  }
  .services-provide__subtitle {
    padding-bottom: 60px;
  }

  .services-provide__content-holder {
    padding: 0 30px;
    margin: 0 10px;

    &>h4 {
      padding-bottom: 20px;
    }

    &:last-child {
      padding-bottom: 60px;
    }
  }

  .services-provide__img {
    margin-bottom: 40px;
  }
}
@media (min-width: $lg) {
  .services-provide {
  padding-top: 119px;
  }
  .services-provide__title {
    letter-spacing: 4.4px;
    padding-bottom: 42px;
  }
  .services-provide__subtitle {
    letter-spacing: 0.45px;
    line-height: 25px;
    padding-bottom: 79px;
  }
  .services-provide__img {
    margin-bottom: 59px;
  }
  .services-provide__content-holder {
    max-width: 195px;
    padding: 0;
    &>h4 {
      padding-bottom: 13px;
    }
    &:last-child {
      padding-bottom: 127px;
    }
  }
}