.skilss {
  background-color: #fff;
  color: #3c4761;
  padding-top: 50px;
}
.skilss__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.skilss__indikator-holder {
  margin-bottom: 20px;
}
.skilss__indikator {
  margin-left: 15px;
}
.skilss__indikator-title {
  font-size: 18px;
  margin-bottom: 30px;
}
@media (min-width: $md) {
  .skilss {
  padding-top: 80px;
  }
  .skilss__subtitle {
    max-width: 568px;
    margin-bottom: 83px;
  }
  .skilss__indikator-holder {
    margin-bottom: 80px;
  }
}
@media (min-width: $lg) {
  .skilss {
    padding-top: 115px;
  }
  .skilss__title {
    font-size: 37px;
    letter-spacing: 5.7px;
    margin-left: 3px;
    padding-bottom: 44px;
  }
  .skilss__subtitle {
    max-width: 568px;
    letter-spacing: 0.3px;
    margin-bottom: 82px;
  }
  .skilss__indikator {
    margin-bottom: 12px;
  }
  .skilss__indikator-holder {
    margin-bottom: 94px;
  }
  .skilss__indikator-title {
    letter-spacing: 0.4px;
    line-height: 18px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
}