.team {
  background-color: #e7f1f8;
  color: #3c4761;
  padding-top: 50px;
}
.team_title {
  padding-bottom: 25px;
}
.team__subtitle {
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.team__content-holder {
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 50px;
  .team__img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    img {
      width: 100%;
      max-width: 200px;
    }
  }
  .team__member-name {
    margin-left: 2px;
    text-transform: uppercase;
    font-size: 18px;
    color: #27283d;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .team__profesion {
    margin-bottom: 5px;
    font-size: 16px;
    color: #30bae7;
  }
  .team__text {
    margin-left: 20px;
    width: 85%;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24.5px;
    color: #3c4761;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }
  .team__list-holder {
    display: flex;
    justify-content: center;
    .team__list-item {
      display: inline;
    }
  }
}
@media (min-width: $md) {
  .team {
    padding-top: 80px;
  }
  .team_title {
    padding-bottom: 30px;
  }
  .team__subtitle {
    padding-bottom: 40px;
  }
  .team__content-holder {
    margin-bottom: 90px;
    .team__img {
      margin-bottom: 40px;

    }
    .team__member-name {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .team__profesion {
      margin-bottom: 21px;
    }
    .team__text {
      margin-bottom: 20px;
    }
  }
}
@media (min-width: $lg) {
  .team{
    padding-top: 120px;
  }
  .team_title {
    letter-spacing: 4.1px;
    padding-bottom: 44px;
  }
  .team__subtitle {
    padding-bottom: 75px;
    font-size: 18px;
    letter-spacing: 0.35px;
  }
  .team__content-holder {
    margin-bottom: 127px;
    .team__member-name {
      font-size: 24px;
      letter-spacing: 0.5px;
      line-height: 23px;
      margin-bottom: 9px;
    }
    .team__profesion {
      margin-bottom: 21px;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 18px;
    }
    .team__text {
      margin-bottom: 29px;
    }
    .team__list-holder {
      .team__list-item {
        margin-right: 7px;
      }
    }
  }
} 
.team__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #bdd1df;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
} 
.team__link:hover{
  filter: brightness(90%);
  transform: scale(1.2);
}
.team__svg--twitter {
  width: 17px;
  height: 14px;
}
.team__svg--facebook {
  width: 8px;
  height: 16px;
}
.team__svg--linkedin {
  width: 16px;
  height: 16px;
}
.team__svg--message {
  width: 16px;
  height: 12px;
}
